#hat{
    position: absolute;
    background-color: black;
    width: 100px;
    height: 60px;
    border-radius: 30% 40% 3% 40% ;
    top: 0px;
    left: 60px;
      box-shadow: 5px 10px 5px 2px #7c633f;
    }

.hatinside {
  width:50px;
  height: 30px;
  position:relative;
  background-color: black;
  border:2px solid white;
  border-radius: 40% 40% 40% 40% ;
  top: 15px;
  left: 20px;

}

#head {
    background-color: #f7c327;
    width: 200px;
    height: 160px;
    border-radius: 40% 40% 50% 50% ;

    }


    .eyes {
      position:relative;
      top: 25px;
      display: flex;
      margin: 30px;


    }


.eyes {
  position:relative;
  top: 25px;
  display: flex;
  margin: 30px;


}


.eye1{
    background-color:#f1e049;
    border-radius: 80px;
    height: 50px;
    width: 50px;
    margin: 10px;
    position: relative;
    border-style: solid;
    border-color: black;
    animation: blink 6s infinite;

}
.eye2{
    background-color: #f1e049;
    border-radius: 80px;
    height: 50px;
    width: 50px;
    margin: 10px;
    position: relative;
    border-style: solid;
    border-color: black;
    animation: blink 6s infinite;

}

.pupils {
      background-color: black;
      width: 26px;
      height: 23px;
      position: absolute;
      border-radius: 40%;
      top: 15px;
      left: 10px;
}

.ears {
 position: relative;

}

.ear {
    border-radius: 90% 0% 90% 0%;
    background-color: #f7c327c2;
    height: 100px;
    width: 100px;
    position: absolute;
    border-bottom:2px solid #151515;
    border-left:2px solid #151515;
    border-right:2px solid #151515;
    border-top:2px solid #151515;
    z-index: -1;

}

.left_ear {
/*  background-color: blue; */

  transform: scale(1,-1);
  left:0;
  rotate: (0 deg)

}

.right_ear{
    left: 100px;
    z-index: -1;

}

.nose {
  background-color:#e82fdd;
  border-radius: 50px 50px 50px 50px / 100px 100px 50px 50px;
  height: 40px;
  width: 20px;
  box-shadow: 3px 3px #050508;

 position: absolute;
   left: 100px;
}

.nose{
  height:7%;
  width:15%;
  background-color:#574D4A;
  border-radius:45%;
  z-index:9;
  top:43%;
  left:42%;
  position:absolute;

}
/* de neusharen (in dit geval mond zijn nog niet symetrisch */
.left-mouth{
  height:20%;
  width:35%;
  border-radius:100px;
  border-bottom:2px solid #151515;
  top:95%;
  left:5%;
  position:absolute;
  z-index:8;
  background-color:#f7c327;
  transform: scale(1,-1);

}
.left-mouth2{
  height:20%;
  width:32%;
  border-radius:100px;
  border-bottom:2px solid #151515;
  top:101%;
  left:7%;
  position:absolute;
  z-index:8;
  background-color:#f7c327;
  transform: scale(1,-1);

}

.left-mouth3{
  height:20%;
  width:28%;
  border-radius:60px;
  border-bottom:2px solid #151515;
  top:109%;
  left:10%;
  position:absolute;
  z-index:8;
  background-color:#f7c327;
  transform: scale(1,-1);

}
.right-mouth{
  height:20%;
  width:30%;
  border-radius:100px;
  border-bottom:2px solid #151515;
  top:100%;
  right:10%;
  position:absolute;
  z-index:8;
  background-color#f7c327;
  transform: scale(1,-1);

}

.right-mouth2{
  height:20%;
  width:32%;
  border-radius:100px;
  border-bottom:2px solid #151515;
  top:93%;
  right:08%;
  position:absolute;
  z-index:1;
  background-color#f7c327;
  transform: scale(1,-1);

}

.right-mouth3{
  height:20%;
  width:28%;
  border-radius:100px;
  border-bottom:2px solid #151515;
  top:107%;
  right:12%;
  position:absolute;
  z-index:8;
  background-color#f7c327;
  transform: scale(1,-1);

}
.tongue{
  position:absolute;
  height:40%;
  width:35%;
  background-color:	#FB91A5;
  border-radius:50px;
  top:120%;
  left:30%;
  z-index:44;
  border:2px solid #151515;
 /*  animation: tonguemove 1.5s infinite; */

}

.tonguecenter {
    position:relative;
    height:50%;
    width:35%;
    background-color:	white;
    border-radius:3px 3px 0px 0px;
    top:50%;
    left:35%;
    z-index:65;
    box-shadow: 2px 2px 1px 0px;


}




#body {
    background-color: #f7c327;
    width: 200px;
    height: 150px;
    border-radius: 40% 40% 50% 50%;
    z-index: -1;


    }
.bodyinner {
    position:relative;
  background-color: #1f1e1b;
  width: 80px;
  height: 60px;
  border-radius: 40% 40% 50% 50%;
  top:40%;
  left:30%;
  }


.sunflower{
  position:relative;
  height:0px;
  width:100px;
  left:40px
}

.trunk{
	height: 65px; width: 10px;
	background:#77b039;
	left: 50px;top:0px;
	position:absolute;
	z-index:-2;
/*	animation:trunk 2s infinite linear;*/
}
.left-branch{
	background: #77b039;
	height: 40px; width: 12px;
	position: absolute; left: -12px; top: 24px;
	border-radius:100% 0% 0% 0%;
	-webkit-border-radius:100% 0% 0% 0%;
	-moz-border-radius:100% 0% 0% 0%;
	-ms-border-radius:100% 0% 0% 0%;
	-o-border-radius:100% 0% 0% 0%;

	transform: rotate(-50deg);
	-webkit-transform: rotate(-50deg);
	-moz-transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
	-o-transform: rotate(-50deg);
}

.right-branch{
	background: #77b039;
	height: 40px; width: 12px;
	position: absolute; top: 24px; left: 10px;
	border-radius:0% 100% 0% 0%;
	-webkit-border-radius:0% 100% 0% 0%;
	-moz-border-radius:0% 100% 0% 0%;
	-ms-border-radius:0% 100% 0% 0%;
	-o-border-radius:0% 100% 0% 0%;

	transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-o-transform: rotate(50deg);
}
.vase{
position:absolute;
   top:65px;
   left:20px;
   height: 0;
   width: 38px;
   border-top: 90px solid #03a9f4;
   border-left: 16px solid transparent;
   border-right: 16px solid transparent;
}
.vase:before,.vase:after {
	content: '';
	position: absolute;
	background:#3f51b2;
}
.vase:before{
	background: #3f51b5;
	width: 78px; height: 20px;
	top: -90px; left:-20px;
	position:absolute;
	box-shadow: 0 5px 10px -9px black;
	-moz-transform: 0 5px 10px -9px black;
	-ms-transform: 0 5px 10px -9px black;
	-o-transform: 0 5px 10px -9px black;
}

.legs {
  position:relative;
  top: 60px;
  display: flex;
  margin: 0px;

  }

.legleft {
  background-color: #ffe9a9;
  border-radius: 60% 40% 40% 40%;
  height: 60px;
  width: 70px;

  left: 0%;
  position: relative;
  border-style: solid;
  border-color: black;



  }

  .legright{
    background-color: #ffe9a9;
    border-radius: 40% 60% 40% 40%;
    height: 60px;
    width: 70px;
    left: 26%;
    position: relative;
    border-style: solid;
    border-color: black;

    }
/*
#tail {
  position: absolute;
  margin-left: 85px;
  margin-top: 40px;
  height: 60px;
  width: 80px;
  border: 15px solid black;
  border-radius: 50px;
  display: inline-block;
  z-index: 0;
}

#tail-mask {
  position: absolute;
  margin-top: 60px;
  margin-left: 100px;
  height: 30px;
  width: 75px;
  background-color: #fff;
  z-index: 0;
}

#tail-end {
  position: absolute;
  margin-top: 63px;
  margin-left: 130px;
  height: 47px;
  width: 17px;
  border-radius: 50%;
  background-color: #D3B897;
  z-index: 1;
}

*/


@keyframes blink {
  0%, 100% {
    transform: scale(1, 0.05);
  }
  5%, 95% {
    transform: scale(1, 1);
  }
}
@keyframes tonguemove{
  0%{top:80%;}
  50%{top:100%;}
  100%{top:100%;}
}
